<div class="container">
    {{#if errorValidations}}
    <div class="alert alert-danger">
        <ul>
            {{#each errorValidations}}
            <li>{{t this.path.[0]}} : {{t this.message}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    {{#if errorMaxData}}
    <div class="alert alert-danger">
       {{t errorMaxData}}
    </div>
    {{/if}}
    <form method="post" action="/add" autocomplete="off" class="todo-form">
        <div class="form-group">
            <label>{{t "task"}}</label>
            <input name="task" type="text" autocomplete="off" maxlength="100" placeholder='{{t "task"}}' autofocus />
        </div>
        <section class="buttons">
            <a href="/" class="btn btn-secondary">{{t "back"}}</a>
            <button type="submit" class="btn btn-primary">{{t "save"}}</button>
        </section>
    </form>
</div>