<div class="container">
    <form method="post" action="/" autocomplete="off" class="todo-form">
        <div class="form-group">
            <label>Task</label>
            <input name="task" type="text" autocomplete="off" maxlength="100" />
        </div>
        <section class="buttons">
            <a href="/" class="btn btn-secondary">Back</a>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </section>
    </form>
</div>