<div class="container">
    {{#if todo}}
    <div class="todo-detail">
        <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{todo.id}}</td>
                </tr>
                <tr>
                    <th>Task</th>
                    <td>{{todo.task}}</td>
                </tr>
                <tr>
                    <th>Done</th>
                    <td>{{todo.done}}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td data-convertToDate>{{todo.created_at}}</td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td data-convertToDate>{{todo.updated_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/if}}
    <section class="buttons">
        <a href="/" class="btn btn-secondary">Back</a>
        <button type="button" class="btn btn-danger" data-delete="{{todo.id}}">Delete</button>
    </section>
</div>
{{> confirm confirmMessage="Delete task?"}}