<div class="container">
    {{#if todo}}
    <div class="todo-detail">
        <table>
            <tbody>
                <tr>
                    <th>{{t "id"}}</th>
                    <td>{{todo.id}}</td>
                </tr>
                <tr>
                    <th>{{t "task"}}</th>
                    <td class="break">{{todo.task}}</td>
                </tr>
                <tr>
                    <th>{{t "done"}}</th>
                    <td>{{#if todo.done}} {{t "yes"}} {{else}} {{t "no"}} {{/if}}</td>
                </tr>
                <tr>
                    <th>{{t "createdAt"}}</th>
                    <td data-convertToDate="{{todo.created_at}}"></td>
                </tr>
                <tr>
                    <th>{{t "updatedAt"}}</th>
                    <td data-convertToDate="{{todo.updated_at}}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/if}}
    <section class="buttons">
        <a href="/" class="btn btn-secondary">{{t "back"}}</a>
        <button type="button" class="btn btn-danger" data-delete="{{todo.id}}">{{t "delete"}}</button>
    </section>
</div>
{{> confirm confirmMessage="deleteData"}}