:root{
    --primary: hsl(231, 48%, 48%);
    --primary-lighter : #c5cae9;
    --primary-text: #212121;
    --secondary: #757575;
    --text: hsl(0, 0%, 100%);
    --accent: #8bc34a;
    --border-color: #dedede;
    --danger: #f44336;

    --base: hsl(0, 0%, 100%);
    --base-h : 0;
    --base-s : 0%;
    --base-l : 100%;
    --scrollbar: hsla(var(--base-h), var(--base-s), 50%, 1);
    --scrollbar-track: hsla(var(--base-h), var(--base-s), 90%, 1);
}

.dark{
    --base: hsl(213, 10%, 17%);
    --base-h : 213;
    --base-s : 10%;
    --base-l : 17%;

    --secondary: hsla(var(--base-h), var(--base-s), 50%, 1);
    --text-color: hsl(0, 0%, 90%);
}